.flag{
    height: 120px;
    width: 260px;
    object-fit: contain;
}
.btn{
    position: relative;
    left:20px;
    top:10px;   
}
.allignment{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;
}
.capital_btn{
    position: relative;
    top:10px;   
}




