table tbody{
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 110px;
    gap: 25px;
}
tr{
    font-size: 18px;
}
.flag{
    height: 120px;
    width: 260px;
    object-fit: contain;
}
.flag_url{  
    text-decoration: underline;
    font-size: 18px;
    font-weight: normal;
}
.flag_url:hover{
    opacity: 0.88;
    cursor: pointer;
}

.btn{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;  
}



