.btn{
  position: relative;
  top: 12%;
  font-family: 'BIZ UDMincho', serif;
}

.input_box {
  background-color: white;
  height: 40px;
  width: 300px;
  border: none;
  border-radius: 7px;
  text-align: center;
  font-size: 22px;
}
.input_box:focus {
  outline: none;
  border: 1.2px black solid;
}

input:focus::placeholder {
  opacity: 0;
}
