.weather_main_div{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;
    padding-top: 100px;
}
.btn{
    position: relative;
    left: 22px;
}

