.weather_main_div{
    position: relative;
    display: flex;
    flex-direction: column;
    gap:40px ;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 75px;
}
h2{
    font-size: 18px;
    font-weight:normal;
}
.btn{
    position: relative;
    background-color: white;
    height: 30px;
    width: 150px;
    border: 1.5px black solid;
    border-radius: 5px;
    font-size: 16px;
    background-color: rgb(191, 189, 223);
}

