.td{
    position: relative;
    margin-left: -20px;
}

.weather_main_div{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:40px;
}
.btn{
    position: relative;
    left: 22px;
}
h2{
    font-weight: normal;
}
